[core]
    name = Julien Jerphanion (@jjerphan)
    email = git@jjerphan.xyz
    editor = vim

[user]
    name = Julien Jerphanion (@jjerphan)
    email = git@jjerphan.xyz
    signingkey = 7C2E35B8

[color]
    ui = true

[alias]
    st = status
    cm = commit
    br = branch
    co = checkout
    df = diff
    dc = diff --cached
    lg = log -p
    pu = push
    pl = pull
    ppr = push --set-upstream origin
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    latest=for-each-ref --sort=-taggerdate --format='%(refname:short)' --count=1
    undo = git reset --soft HEAD^
    brd = branch -D
    conflicts = diff --name-only --diff-filter=U
    amend = commit --amend
    tree = log --graph --oneline --all
    po = push origin
    diffs = diff --staged
[push]
    default = upstream
[commit]
	gpgSign = true
